@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    isolation: isolate;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  
  a:hover {
    color: #747bff;
  }
  
  button {
    cursor: pointer;
    background: none;
    border: none;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
